%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [warnings_as_errors, debug_info]}.

{deps,
  [
   {mochiweb, ".*",
    {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.9.0"}}}
  ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps,
  [
    {ibrowse, "4.0.*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
  ]}.

%% Set this to true if you will build OTP releases of this project via
%% `make rel` and want to include the rebar_lock_deps_plugin. You can
%% also specify `{branch, Branch}' or `{tag, Tag}' to use a specific
%% build of the plugin.
{use_lock_deps, true }.

%% Use edown to render a markdown version of edoc. The generated
%% markdown can be checked in and will be browsable on github. The
%% default is to add edown as a dev only dependency and to enable
%% it. You can set this to false to do your own thing.
{use_edown, true}.

{cover_enabled, true}.
{cover_print_enabled, true}.

%% Common Test (ct) ============================================================
{ct_dir, "common_test"}.
{ct_log_dir, "common_test/logs"}.
